@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';
@import 'tailwindcss/screens';

* {
	box-sizing: border-box;
	position: relative;
}

html,
body {
	height: 100%;
	margin: 0;
}
